.post-detail {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background-color: #f8f8f8;
  margin: 20px 10px;
}

.post-detail h2 {
  margin-bottom: 10px;
}

.post-detail p {
  margin: 5px 0;
}